.msc-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:has(.msc-visible-content){
      overflow: hidden;
      position: absolute;
    }

    &.msc-full {
      width: 100%;
      height: 100%;
    }
    .msc-visible-content {
      position: absolute;
      overflow: scroll;
      min-width: 100%;
      padding-right: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
    }

    .msc-whole-content {
      min-width: fit-content;
      min-height: fit-content;
    }
  
    .msc-scrollbar {
      &.msc-y {
        top: 12px;
        right: 3px;
        width: 10px;
        height: calc(100% - 24px);
        .msc-handle{
          min-height: 20px;
          width: 100%;
        }
        [class*="msc-btn-"] {
          width: 100%;
          height: 10px;
          right: 0;

        }
      }

      &.msc-x {
        left: 12px;
        height: 10px;
        bottom: 3px;
        width: calc(100% - 24px);
        .msc-handle{
          min-width: 20px;
          height: 100%;
        }
        [class*="msc-btn-"] {
          height: 100%;
          width: 10px;
          bottom: 0;
          
        }
      }

      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -ms-touch-action: none;
      touch-action: none;
      cursor: pointer;
  
      .msc-track {
        position: absolute;
        background: rgba(122, 122, 122, 0.5);
        border-radius: 5px;
        height: 100%;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
  
        .msc-handle {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          border: none;
          padding: 0;
          cursor: pointer;
          outline: none;
          border-radius: inherit;
          -webkit-border-radius: inherit;
          -moz-border-radius: inherit;
          -ms-border-radius: inherit;
          -o-border-radius: inherit;
          background: #3f3f3f;
        }
      }
  
      [class*="msc-btn-"] {
        display: none;
        position: absolute;
        outline: none;
        cursor: pointer;
        padding: 0;
        border: none;
        background: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-color: rgba(77, 77, 77, 0.5);
      }
  
      .msc-btn-up {
        top: 0px;
      }
  
      .msc-btn-down {
        bottom: 0px;
      }
    }
  
    &.msc-with-arrows .msc-scrollbar {
      height: calc(100% - 10px);
      top: 5px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.5);
      box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.5);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
  
      .msc-btn-up {
        display: block;
        &::before {
          content: " ";
          position: absolute;
          display: block;
          border: 3px solid transparent;
          right: 2px;
          border-bottom-color: rgba(77, 77, 77, 0.5);
          border-top: none;
          top: 3px;
        }
        &:hover::before {
          border-bottom-color: #3f3f3f;
        }
      }
  
      .msc-btn-down {
        display: block;
        &::before {
          content: " ";
          position: absolute;
          display: block;
          border: 3px solid transparent;
          right: 2px;
          border-bottom: none;
          border-top-color: rgba(77, 77, 77, 0.5);
          bottom: 3px;
        }
        &:hover::before {
          border-top-color: #3f3f3f;
        }
      }

      .msc-track {
        top: 10px;
        height: calc(100% - 20px);
      }
    }
  
    &.msc-with-fading {
      .msc-scrollbar {
        opacity: 0;
        transition: opacity 0.3s linear;
        -webkit-transition: opacity 0.3s linear;
        -moz-transition: opacity 0.3s linear;
        -ms-transition: opacity 0.3s linear;
        -o-transition: opacity 0.3s linear;
      }
  
      &:hover .msc-scrollbar {
        opacity: initial;
      }
    }
  
    &.msc-using-scroll .msc-scrollbar {
      opacity: initial;
    }
  }
  